body{
    background-color: lavender ;
}
.form1{
    width:350px ;
    height: 500px ;
    background-color: floralwhite;
    margin-left: 450px;
}
#it1{
    padding-left: 50px;
    padding-top: 50px;
}
.it2{
    padding-top: 100px;
    margin-left: 0px;
}
.gol2{
    margin-left: 0px; 
}
#gol1{
    margin-left: -43px; 
    margin-top: -100px;

}
#gol3{
    width: 290px;
    height: 37px;
    color: gray;
    margin-top: -100px;
}


















