body{
background-color: rgba(0, 0, 0, 0.639);
color: white;

}
#inp1{
    width:70% ;
    height:8vh ;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: -90px;
}
#H1{
    margin-left: 40px;
    opacity: 0.5;
}
#button1{
     width: 150px;
     height: 9vh;
     border-radius: 15px;
     font-size: 20px;
     background-color: rgba(0, 0, 0, 0);
}